<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="../models/note-list-model.js"></script>
    <script src="../models/note-model.js"></script>
    <script src="./note-list-view.js"></script>
    <script src="./single-note-view.js"></script>
    <script src="../controllers/note-controller.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- <form>
        <div class="new-note-form">
          <label for="noteContents">Your Note</label>
          <textarea id="text" placeholder="Type your note here..." required></textarea>
        </div>
        <button type="submit" id="save-note-button">Save</button>
      </form> -->
      
    </div>
  </body>
</html>
